
<div class="container">
      <div class="headings">
        <h1>IT Issues</h1>
        <em
          >Please keep your it issues brief and succint. We will address each
          one shortly.</em
        >
      </div>
     
      <form id="submission-form" action="/" method="POST">
        <div class="input-label">
          <label for="name">Name</label>
          <input autocomplete="off" type="text" id="name" placeholder="Your name" name="name" required/>
        </div>
        <div class="input-label">
          <label for="issue">Issue</label>
          <input autocomplete="off" type="text" id="issue" placeholder="Describe your issue" name="issue" required/>
        </div>
        <div class="input-label">
          <label for="department">Department</label>
          <select name="department" id="dropdown">
            <option value="IT Support">IT Support</option>
            <option value="Customer Support">Customer Support</option>
            <option value="Human Resources">Human Resources</option>
            <option value="Sales">Sales</option>
            <option value="Management">Management</option>
            <option value="Development">Development</option>
          </select>
                </div>
        <div>
          <input 
            type="submit"
            value="Submit"
            name="button"
            id="button"
            method="POST"
            action="/"
          />
        </div>
      </form>
       <p id="error">'Please fill in all fields', 'error'</p>
      <p id="success">
        'Your issue has been logged! We will get back to you as soon as we can!'
      </p>
 </div>
      <div class="results-container">
      <table>
        <thead>
          <tr>
            <th>Name</th>
            <th>Issue</th>
            <th>Deparment</th>
            <th>Time/Date</th>
            <th> Manage </th>
          </tr>
        </thead>

        <div class="log-container">
        <tbody id="issue-log"></tbody>
      {{#each data}}
      <tr>
         <td>{{name}}</td>
    <td>{{issue}}</td>
    <td>{{department}}</td>
   <td>{{time}}</td>
   <td><a href="/issue/{{id}}">View</a> </td>

      </tr>
{{/each}}




      </table>

    

     
   </div> </div>