<div class="single-issue">

<div> <h1>Name: {{data.name}}</h1></div>
<div> <p>Department: {{data.department}}<p></div>
<div>  <h3>Issue:</h3> {{data.issue}}</div>
<div> <em>Time Posted: {{data.time}}</em></div>
<a href="/issue/{{data.id}}/edit">Edit</a>
<form method="post"> <button>Delete this post</button></form>
</div>


